@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VWarehouse</h1>
    <p class="lead">Welcome to Virtual Warehouse. Bon voyage mon ami.</p>
    <p><a href="http://localhost:51273/Home/Index" class="btn btn-primary btn-lg">VWarehouse &raquo;</a></p>
</div>

<div class="row text-center">
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Warehouse</h2>
            <p>
                Manage your company warehouse with Virtual Warehouse.
            </p>
        </div>
        <p><a style="width: 150px" class="btn btn-default" href="http://localhost:51273/Item/Index">Virtual Warehouse &raquo;</a></p>
    </div>

    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Items On Stock</h2>
            <p>Manage items On Stock</p>
        </div>
        <p><a style="width: 150px" class="btn btn-default" href="http://localhost:51273/Item/OnStock">Items On Stock &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Measuring Devices</h2>
            <p>Manage your company Measuring Devices</p>
        </div>
        <p><a style="width: 150px" class="btn btn-default" href="http://localhost:51273/MeasuringDevice/Index">Measuring Devices &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>M.D. On Stock</h2>
            <p>
                Manage Measuring Devices On Stock.
            </p>
        </div>
        <p><a style="width: 150px" class="btn btn-default" href="http://localhost:51273/MeasuringDevice/OnStock">M.D.On Stock &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Vehicles</h2>
            <p>
                Manage your company Vehicles.
            </p>
        </div>
        <p><a style="width: 150px" class="btn btn-default" href="http://localhost:51273/Vehicle/Index">Vehicles &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Vehicles On Stock</h2>
            <p>
                Manage Free Vehicles.
            </p>
        </div>
        <p><a style="width: 150px" class="btn btn-default" href="http://localhost:51273/Vehicle/OnStock">Free Vehicles &raquo;</a></p>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-5">
    </div>
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Employees</h2>
            <p>
                Manage your company Employees.
            </p>
        </div>
        <p><a style="width: 150px" class="btn btn-default" href="http://localhost:51273/Employee/Index">Employees &raquo;</a></p>
    </div>
</div>
